# Eggs
/.eggs/

# Virtual environments
/env/
/envs/

# Build artifacts
/build/
/dist/
*.egg-info/

# Caches
**/__pycache__/

# Miscellaneous
/setup2.py
/proj/
.vscode/

# Logs
*.log

# Output dirs
/output/

# MacOS
.DS_Store